<div class="book-page">
  <h1>Books</h1>
  
   <table>
     <thead>
      <th>title</th>
      <th>body</th>
      <th></th>
     </thead>
   </table>
 
</div>

<h2>New Book</h2>
<%= form_with model: @Book do |f| %>
   <h4>title</h4>
 <%= f.text_field :title %>
   <h4>body</h4>
   <%= f.text_area :body %>
 
  
  <%= f.submit 'Create Book' %>
  
  <% end %>

